@charset "UTF-8";
tr:hover {
  background-color: #f00;
  color: #fff;
}

.active {
  background-color: #f00;
  color: #fff;
}

.county-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.county-list > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.-county-list > div:hover, div.active {
    color: #fff;
    background-color: #f00;
}

.-county-list > div > div {
    display: inline-block;
    width: 48%;
}

.scale {
    position: relative;
}

.scale div {
    width: 9.07%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
}